<div>
	<div>
		<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
	</div>
	<h2><%= @user.name %></h2>
	<div><%= @user.introduction %></div>
	<table>
		<tbody>
			<tr>
				<td>
					フォロー数
					<%= link_to @user.follower.count, user_follows_path(@user) %>
				</td>
			</tr>
			<tr>
				<td>
					フォロワー数
					<%= link_to @user.followed.count, user_followers_path(@user) %>
				</td>
			</tr>
		</tbody>
	</table>
	<% if @user == current_user %>
	<div><%= link_to "プロフィールの編集", edit_user_path(@user) %></div>
	<% else %>
	<!-- フォローするボタン -->
	<% if current_user.following?(@user) %>
	<%= link_to 'フォローを外す', user_relationships_path(@user.id), method: :delete %>
	<% else %>
	<%= link_to 'フォロー', user_relationships_path(@user.id), method: :POST%>
	<% end %>
	<% end %>
</div>
<div>
	<table>
		<tbody>
			<% @codes.each do |code| %>
			<tr>
				<td>
					<h2><%= link_to code.title, code_path(code)%></h2>
				</td>
			</tr>
			<tr>
				<td><%= link_to @user.name, user_path(@user) %></td>
				<td><%= code.created_at.strftime('%Y/%m/%d')%></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>