<div class="container">
  <% @code.errors.full_messages.each do |message| %>
  <div class="form-error">
    <%= message %>
  </div>
  <% end %>
  <div class="row">
    <div class="col-xs-3 col-xs-offset-1">
      <h2>投稿編集</h2>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <%= form_for(@code) do |f| %>
        <div>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div>
          <%= f.text_area :body, class: "body-form" %>
        </div>
        <div class="bottom">
          <%= f.submit "編集", class: "btn btn-default" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>