<% if flash[:notice] %>
<p class="bg-warning">
	<%= flash[:notice] %>
</p>
<% end %>
<div class="container">
	<div class="row">
		<div class="col-xs-3 col-xs-offset-1">
			<h2>投稿一覧</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<table class="table table-hover">
				<tbody>
					<% @codes.each do |code| %>
					<tr>
						<td>
							<%= attachment_image_tag code.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size:"60x60" %>
						</td>
						<td>
							<h4>
								<%= link_to code.title, code_path(code) %>
							</h4>
							by
							<%= link_to code.user.name, user_path(code.user_id) %>

							<span class="title-list">
								<span class="code_<%= code.id%>">
									<!-- いいね機能 -->
									<%= render 'code', code: code %>
								</span>
								<span>
									<!-- コードの更新日 -->
									<%= code.created_at.strftime('%Y/%m/%d') %>
								</span>
							</span>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="kaminari-icon">
			<%= paginate @codes, class: "paginate" %>
		</div>
	</div>
</div>