<div class="container">
	<div class="row">
		<div class="col-xs-3 col-xs-offset-1">
			<h2>投稿一覧</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<table class="table table-hover">
				<tbody>
					<% @codes.each do |code| %>
					<tr>
						<td>
							<%= attachment_image_tag code.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg" %>
						</td>
						<td>
							<h4>
								<%= link_to code.title, code_path(code) %>
							</h4>
							by
							<%= link_to code.user.name, user_path(code.user_id) %>

							<span class="title-list">
								<!-- いいね機能 -->
								<% if code.favorited_by?(current_user) %>

								<%= link_to code_favorites_path(code.id), method: :delete do %>
								<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
								<%= code.favorites.count %>
								<% end %>

								<% else %>

								<%= link_to code_favorites_path(code.id), method: :post do %>
								<i class="fa fa-heart-o" aria-hidden="true"></i>
								<%= code.favorites.count %>
								<% end %>

								<% end %>
								<!-- コードの更新日 -->
								<%= code.created_at.strftime('%Y/%m/%d') %>
							</span>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>