<div>
	<table>
		<tbody>
			<tr>
				<td>
					<h2><%= @code.title%></h2>
				</td>
				<td>
					<%= @code.user.name%>
				</td>
				<td>
					<% if @code.favorited_by?(current_user) %>
					
					<%= link_to code_favorites_path(@code.id), method: :delete do %>
					<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
					<%= @code.favorites.count %>
					<% end %>
					
					<% else %>
					
					<%= link_to code_favorites_path(@code.id), method: :post do %>
					<i class="fa fa-heart-o" aria-hidden="true"></i>
					<%= @code.favorites.count %>
					<% end %>
					
					<% end %>
				</td>
				<td>
					<%= @code.created_at.strftime('%Y/%m/%d') %>
				</td>
			</tr>
		</tbody>
	</table>
	<div>
		<%= @code.body %>
	</div>
	<% if @code.user == current_user %>
	<tbody>
		<tr>
			<td>
				<%= link_to "編集", edit_code_path(@code) %>
			</td>
			<td>
				<%= link_to "削除",code_path(@code.id), method: :delete, "data-confirm" => "本当に削除しますか？"%>
			</td>
		</tr>
	</tbody>
	<% end %>
</div>
