<div class="container">
  <h2>ユーザーログイン</h2>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
      <div class="form-group">
        <%= f.label "メールアドレス" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "パスワード" %>
        <%= f.password_field :password, placeholder: "6文字以上",autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="bottom">
        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
        <% end %>

        <%= link_to "新規登録",new_user_registration_path %>
        <%= "パスワードを忘れた方はこちら"%>
      </div>
    </div>
  </div>
</div>
